body {
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 1140px;
}

header {
  height: 178.8px;
  border: 1px solid black;
  background-image: url(bg.png);
  background-attachment: fixed;
}
.logo {
  width: 319px;
  height: 98px;
  border: 1px solid black;
  background-image: url(logo.svg);
  background-repeat: no-repeat;
}

.bouton {
  width: 23%;
  left: 495px;
  border: 1px solid black;
  position: absolute;
  top: 0;
  padding-top: 33px;
}

ul {
  list-style: none;
  display: flex;
}

.img {
  width: 57px;
  height: 56px;
  float: left;

}

.inr {
  margin: 0;
  padding: 0;
}

li.menu {

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-right: 15px;
  box-sizing: border-box;
}
span.fnt-menu {
  font-size: 1.42em;
    font-weight: bold;
    font-style: italic;
    padding-left: 8px;
    float: left;
    margin-top: 6px;

}

.btn-hvr {
  padding-left:13px;
  padding-right: 13px;
  paddind-top : 7px;
  padding-bottom: 1px;
  font-size: 18px;
}

.btn-hvr:hover {
  text-decoration: none;
  background-color: #FFF;
  cursor: pointer;
  border-radius: 6px;
}

.menu {
  width: 179px;
}

.nav {

    margin-top: 23px;
}

.active {
  background-color: white;
}

.sml-txt {
  font-size: 12px;
  float: left;
  padding-left: 8px;
}

.inactive {
  background-color: #446;
}

.mrg {
  padding-top: 5px;
  font-size: 30px;
}
.md {
  border: 1px solid black;
  width: 265px;
  height: 307.19px;
}

.img_prod {
  margin-left: auto;
  margin-right: auto;
}

.contenu_prod {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px)
.container {
    width: 1160px;
}
